@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'PoppinsRegular';
  src: url('/fonts/Poppins-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'PoppinsBold';
  src: url('/fonts/Poppins-Bold.ttf') format('truetype');
}

@font-face {
  font-family: 'PoppinsLight';
  src: url('/fonts/Poppins-Light.ttf') format('truetype');
}

@font-face {
  font-family: 'PoppinsMedium';
  src: url('/fonts/Poppins-Medium.ttf') format('truetype');
}

@font-face {
  font-family: 'PoppinsSemiBold';
  src: url('/fonts/Poppins-SemiBold.ttf') format('truetype');
}

:root {
  --c0: #ffcec1;
  --c1: #ffb9a9;
  --c2: #ffa390;
  --c3: #ff8e78;
  --c4: #ff785f;
  --c5: #ff6347;
  --c6: #ff4d30;
  --clr: 1;
  --hue: calc(30deg - (30deg * var(--clr)));
}

[stroke='url(#gradientFill)'] {
  stroke: #F2EFE7 !important;
}

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-corner {
  background: transparent;
}

::-webkit-scrollbar-button {
  display: none;
}

::-webkit-scrollbar-thumb {
  background: #ff4d30;
  border-radius: 20px;
  border: 3px solid transparent;
  background-clip: content-box;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'PoppinsRegular', sans-serif;
  background: #F2EFE7;
}

.home {
  background: #F2EFE7;
}

/* .home {
  width: 100%;
  height: 100%;
  background: lightsalmon;
  position: relative;
  overflow: hidden;
}

.home::before {
  content: "";
  position: absolute;
  top: -50%;
  left: -50%;
  width: 200%;
  height: 200%;
  background: radial-gradient(circle, #ff4d30 10%, transparent 20%),
    radial-gradient(circle, transparent 10%, #ff4d30 20%);
  background-size: 30px 30px;
  animation: moveBackground 8s linear infinite;
} */

/* @keyframes moveBackground {
  0% {
    transform: translate(0, 0);
  }

  100% {
    transform: translate(20%, 20%);
  }
} */

/* Custom CSS */

/* Button */

.animated-button {
  position: relative;
  display: flex;
  align-items: center;
  gap: 4px;
  padding: 16px 36px;
  border: 4px solid;
  border-color: transparent;
  font-size: 16px;
  background-color: inherit;
  border-radius: 100px;
  font-weight: 600;
  color: #ff4d30;
  box-shadow: 0 0 0 2px #ff4d30;
  cursor: pointer;
  overflow: hidden;
  transition: all 0.6s cubic-bezier(0.23, 1, 0.32, 1);
}

.animated-button svg {
  position: absolute;
  width: 24px;
  fill: #ff4d30;
  z-index: 9;
  transition: all 0.8s cubic-bezier(0.23, 1, 0.32, 1);
}

.animated-button .arr-1 {
  right: 16px;
}

.animated-button .arr-2 {
  left: -25%;
}

.animated-button .circle {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 20px;
  height: 20px;
  background-color: #ff4d30;
  border-radius: 50%;
  opacity: 0;
  transition: all 0.8s cubic-bezier(0.23, 1, 0.32, 1);
}

.animated-button .text {
  position: relative;
  z-index: 1;
  transform: translateX(-12px);
  transition: all 0.8s cubic-bezier(0.23, 1, 0.32, 1);
}

.animated-button:hover {
  box-shadow: 0 0 0 12px transparent;
  border-radius: 12px;
}

.animated-button:hover .arr-1 {
  right: -25%;
}

.animated-button:hover .arr-2 {
  left: 16px;
}

.animated-button:hover .text {
  transform: translateX(12px);
  color: #fff;
}

.animated-button:hover svg {
  fill: #fff;
}

.animated-button:active {
  scale: 0.95;
  box-shadow: 0 0 0 4px #ff4d30;
}

.animated-button:hover .circle {
  width: 220px;
  height: 220px;
  opacity: 1;
}

/* Link */

.cta {
  border: none;
  background: none;
  cursor: pointer;
}

.cta span {
  padding-bottom: 3px;
}

.cta svg {
  transform: translateX(-8px);
  transition: all 0.3s ease;
}

.cta:hover svg {
  transform: translateX(0);
}

.cta:active svg {
  transform: scale(0.9);
}

.hover-underline-animation {
  position: relative;
  padding-bottom: 20px;
}

.hover-underline-animation:after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.cta:hover .hover-underline-animation:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

/* loading */

.loader {
  width: fit-content;
  height: fit-content;
  display: flex;
  align-items: center;
  justify-content: center;
}

.truckWrapper {
  width: 200px;
  height: 100px;
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  justify-content: flex-end;
  overflow-x: hidden;
}

/* truck upper body */
.truckBody {
  width: 130px;
  height: fit-content;
  margin-bottom: 6px;
  animation: motion 1s linear infinite;
}

/* truck suspension animation*/
@keyframes motion {
  0% {
    transform: translateY(0px);
  }

  50% {
    transform: translateY(3px);
  }

  100% {
    transform: translateY(0px);
  }
}

/* truck's tires */
.truckTires {
  width: 130px;
  height: fit-content;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 10px 0px 15px;
  position: absolute;
  bottom: 0;
}

.truckTires svg {
  width: 24px;
}

.road {
  width: 100%;
  height: 1.5px;
  background-color: #F9CB43;
  position: relative;
  bottom: 0;
  align-self: flex-end;
  border-radius: 3px;
}

.road::before {
  content: "";
  position: absolute;
  width: 20px;
  height: 100%;
  background-color: #F9CB43;
  right: -50%;
  border-radius: 3px;
  animation: roadAnimation 1.4s linear infinite;
  border-left: 10px solid white;
}

.road::after {
  content: "";
  position: absolute;
  width: 10px;
  height: 100%;
  background-color: #F9CB43;
  right: -65%;
  border-radius: 3px;
  animation: roadAnimation 1.4s linear infinite;
  border-left: 4px solid white;
}

.lampPost {
  position: absolute;
  bottom: 0;
  right: -90%;
  height: 90px;
  animation: roadAnimation 1.4s linear infinite;
}

@keyframes roadAnimation {
  0% {
    transform: translateX(0px);
  }

  100% {
    transform: translateX(-350px);
  }
}

/* Cursor Animation */

.custom-cursor {
  --circle-size: 40px;
  position: fixed;
  height: var(--circle-size);
  width: var(--circle-size);
  border: 2px solid #fff;
  border-radius: 50%;
  top: -20px;
  left: -20px;
  pointer-events: none;
  z-index: 9999;
}

/* Swiper */

/* styles/swiper.css */
.swiper-button-prev,
.swiper-button-next {
  display: none;
  /* Disable default swiper buttons */
}

.custom-swiper-button-prev,
.custom-swiper-button-next {
  color: #000;
  border-radius: 50%;
  padding: 10px;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 10;
}

.custom-swiper-button-prev:hover,
.custom-swiper-button-next:hover {
  background-color: #d23500;
}

.custom-swiper-button-prev {
  left: 10px;
}

.custom-swiper-button-next {
  right: 10px;
}

.swiper-container {
  width: 100%;
}

/* Custom 404 */

.cuboid {
  --size: 250;
  --height: var(--size);
  --width: var(--size);
  --depth: var(--size);
  height: calc(var(--size) * 1vmin);
  width: calc(var(--size) * 1vmin);
  position: absolute;
  transform: rotateX(50deg) rotate(45deg);
  pointer-events: none;
}

.cuboid .side {
  position: absolute;
  top: 50%;
  left: 50%;
  height: 100%;
  width: 100%;
  border-radius: 2px;
  box-shadow: 0vmin 0vmin 0.5vmin 0 var(--c0) inset, 0 0 5vmin 0 var(--c0);
}

.cuboid .side:nth-of-type(1) {
  transform: translate3d(-50%, -50%, calc(var(--size) * -0.5vmin)) rotateY(180deg);
  background: radial-gradient(circle at 100% 0%, var(--c4), #fff0 45vmin), radial-gradient(circle at 100% 0%, var(--c1), var(--c4));
}

.cuboid .side:nth-of-type(2) {
  width: calc(var(--size) * 1vmin);
  transform: translate(-50%, -50%) rotateY(-90deg) translate3d(0, 0, calc(var(--size) * 0.5vmin));
  background: radial-gradient(circle at 0% 0%, var(--c4), #fff0 45vmin), radial-gradient(circle at 0% 0%, var(--c2), var(--c5));
}

.cuboid .side:nth-of-type(3) {
  height: calc(var(--size) * 1vmin);
  transform: translate(-50%, -50%) rotateX(90deg) translate3d(0, 0, calc(var(--size) * 0.5vmin));
  background: radial-gradient(circle at 0% 0%, var(--c4), #fff0 45vmin), radial-gradient(circle at 0% 0%, var(--c1), var(--c6));
}

.room {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  perspective: 1000vmin;
  transform-style: preserve-3d;
  filter: hue-rotate(var(--hue));
}

.oops {
  width: 100%;
  text-align: center;
  font-size: 2.25vmin;
  transform: rotateX(21deg);
  transform-origin: 100% 50%;
  top: 10%;
  position: absolute;
  left: 0;
}

.oops h2 {
  color: var(--c1);
  float: left;
  transform-origin: 100% 50%;
  transform: rotateY(-60deg) scaleX(1.5);
  margin: -5vmin 0 0 -5vmin;
  font-size: 14vmin;
  width: 50%;
  text-shadow: 0px 2px 1px var(--c1), -1px 1px 2px var(--c5), -1px -1px 2px var(--c4), -2px -2px 2px var(--c4), -3px -3px 2px var(--c4), -4px -4px 2px var(--c4), -5px -5px 2px var(--c4), -6px -6px 2px var(--c4), -7px -7px 2px var(--c4), -8px -8px 2px var(--c4), -9px -9px 2px var(--c4), -10px -10px 2px var(--c4), -11px -11px 2px var(--c4), -12px -12px 2px var(--c4), -13px -13px 2px var(--c4), -14px -14px 2px var(--c4), -15px -15px 2px var(--c4), -16px -16px 2px var(--c4), -16px -16px 2px var(--c6), -10px -10px 8px var(--c6), -6px -15px 13px var(--c6);
}

.oops p {
  float: right;
  color: var(--c1);
  transform-origin: 0% 50%;
  transform: rotateY(60deg) scaleX(1.5);
  margin-top: -4vmin;
  margin-right: -2vmin;
  font-size: 5vmin;
  max-width: 50vmin;
  width: 50%;
  text-shadow: 0px 2px 1px var(--c1), -1px 1px 2px var(--c5), 1px -1px 2px var(--c4), 2px -2px 2px var(--c4), 3px -3px 2px var(--c4), 4px -4px 2px var(--c4), 5px -5px 2px var(--c4), 6px -6px 2px var(--c4), 7px -7px 2px var(--c4), 8px -8px 2px var(--c4), 6px -6px 7px var(--c6), 6px -6px 7px var(--c6);
}

.center-line {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.hole {
  width: 28vmin;
  height: 20vmin;
  background:
      radial-gradient(circle at 50% 0%, var(--c2), #fff0 45%),
      radial-gradient(circle at 30% 100%, #061b43, #fff0 77%),
      radial-gradient(circle at 20% 100%, var(--c3), var(--c2), var(--c2));
  border-radius: 100%;
  box-shadow: 0 -2px 4px -2px #fffc, 0 2px 3px -3px #fffc inset, 0 2px 6px -4px #000;
  overflow: hidden;
  position: relative;
  margin-top: 30vmin;
}

.ladder,
.ladder-shadow {
  --shadow: #0008;
  background:
      linear-gradient(180deg, #fff0 33%, var(--shadow), #000),
      linear-gradient(90deg, #cec3b9 0 1.2vmin, #b3aba2 0 1.5vmin, #fff0 0 100%),
      linear-gradient(90deg, #cec3b9 0 1.2vmin, #b3aba2 0 1.75vmin, #fff0 0 calc(100% - 1.75vmin)),
      repeating-linear-gradient(0deg, #cec3b9 0 1.2vmin, #e7dbcf 0 1.75vmin, #fff0 0 6.75vmin),
      linear-gradient(90deg, #cec3b9 0 1.2vmin, #b3aba2 0 1.75vmin, #fff0 0 calc(100% - 1.75vmin));
  width: 10vmin;
  height: 30vmin;
  margin-left: 14vmin;
  position: absolute;
  top: 0vmin;
  transform: rotate3d(4, 1, 1, 45deg) skew(0deg, 20deg);
  background-position: 0 0, 0 0, 8.25vmin 0, 0 -3.25vmin, 0 0;
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

.ladder-shadow {
  filter: invert(1) blur(1px) opacity(0.4) contrast(5);
  transform: rotate3d(2, 1, 1, 45deg) rotate(-10deg) translate(1.15vmin, 1.9vmin) skew(0deg, 20deg);
  --shadow: #0000;
}

.ladder:before,
.ladder:after {
  content: "";
  position: absolute;
  background: linear-gradient(210deg, #fff0 0.4vmin, #e7dbcf calc(0.35vmin + 1px) 1.45vmin, #b3aba2 calc(1.4vmin + 1px) 100%);
  width: 0.85vmin;
  height: 1.75vmin;
  transform-origin: 0 1%;
  transform: rotate(-90deg);
  top: 1px;
}

.ladder:after {
  left: 8.25vmin;
}

.four {
  font-size: 45vmin;
  font-weight: bold;
  font-family: Arial, Helvetica, serif;
  position: absolute;
  margin-left: -58vmin;
  margin-top: 27vmin;
  transform: rotate(22deg) scale(0.8, 0.85) rotateX(40deg) rotateY(-10deg) rotateZ(-5deg);
  text-shadow: 0px 2px 1px #d8b4fe, -1px 1px 2px #c084fc80, 1px 2px 2px var(--c3), 2px 4px 2px var(--c3), 4px 6px 2px var(--c3), 5px 8px 2px var(--c3), 6px 10px 2px var(--c3), 7px 12px 2px var(--c3), 8px 14px 2px var(--c3), 9px 16px 2px var(--c3), 10px 18px 2px var(--c3), 11px 20px 3px var(--c3), 12px 22px 3px var(--c3), 13px 22px 10px var(--c6), 18px 14px 15px var(--c6);
  color: var(--c1);
  filter: drop-shadow(10px -4px 10px var(--c4));
}

.four+.four {
  margin-left: 43vmin;
  margin-top: 15vmin;
  transform: scale(0.95, 0.75) rotateX(5deg) rotateY(35deg) rotateZ(30deg) translateZ(18vmin);
  text-shadow: 1px 0px 2px #d8b4fe, 3px 0px 2px #c084fc80, 1px 0px 0px var(--c3), 2px 0px 2px var(--c3), 4px 0px 2px var(--c3), 5px 0px 2px var(--c3), 6px 0px 2px var(--c3), 7px 0px 2px var(--c3), 8px 0px 2px var(--c3), 9px 0px 2px var(--c3), 10px 0px 2px var(--c3), 11px 0px 3px var(--c3), 12px 0px 3px var(--c3), 20px 0px 3px var(--c3), 13px 0px 5px var(--c6), 18px -6px 15px var(--c6);
}

.four+.four:before,
.four+.four:after {
  content: "4";
  color: var(--c6);
  position: absolute;
  transform-origin: 60% 0%;
  transform: rotateX(27deg) rotate(-20deg) translate(-0.5vmin, 0.5vmin) skew(0deg, 20deg);
  transform-style: preserve-3d;
  text-shadow: none;
  z-index: -1;
  clip-path: polygon(0 0, 100% 0, 100% 50%, 0 46%, 0 0);
  filter: blur(5px);
  opacity: 0.4;
}

.four+.four:after {
  transform-origin: 50% 100%;
  transform: rotatex(12deg) rotate(-13deg) translate(-27.5vmin, -5.5vmin) skew(-32deg, 6deg) scaleX(1.1);
  clip-path: polygon(0 39.75%, 100% 49.25%, 100% 100%, 0 100%, 0 50%);
}

.btn {
  position: absolute;
  bottom: -15vmin;
  transform-origin: 50% 0%;
  transform: rotateX(15deg);
}

.btn a {
  border-radius: 0.2vmin;
  padding: 1.5vmin 2.5vmin;
  background: #c084fc;
  text-decoration: none;
  color: #fff9;
  top: 0;
  font-size: 3vmin;
  text-shadow: 0px -2px 2px var(--c0), 0px 1px 3px var(--c6);
  position: relative;
  transition: all 0.25s linear 0s;
  box-shadow: 1px 0px 1px #d8b4fe, 0px 2px 2px #c084fc80, 0px 1px 2px var(--c3), 0px 4px 2px var(--c3), 0px 6px 2px var(--c3), 0px 8px 2px var(--c3), 0px 10px 2px var(--c3), 0px 12px 2px var(--c3), 0px 14px 2px var(--c3), 0px 16px 2px var(--c3), 0px 18px 2px var(--c3), 0px 20px 3px var(--c3), 2px 22px 3px var(--c3), 0px 23px 3px var(--c6), 0px 3px 15px var(--c6);
}

.btn a:hover {
  top: 16px;
  color: var(--c6);
  box-shadow: 1px 0px 1px #d8b4fe, 0px 2px 2px #c084fc80, 0px 1px 2px var(--c3), 0px 1px 2px var(--c3), 0px 2px 2px var(--c3), 0px 2px 2px var(--c3), 0px 2px 2px var(--c3), 0px 2px 2px var(--c3), 0px 2px 3px var(--c3), 0px 2px 3px var(--c3), 0px 2px 2px var(--c3), 0px 2px 3px var(--c3), 2px 2px 3px var(--c3), 0px 4px 3px var(--c6), 2px 5px 6px var(--c6);
}

.btn::after {
  content: "";
  position: absolute;
  background: var(--c4);
  width: 100%;
  height: 300%;
  left: 0;
  top: 0;
  transform: translateZ(-2vmin) skew(-10deg, 0deg) translateY(-4.5vmin) translateX(1vmin);
  filter: blur(5px);
  transition: all 0.5s ease 0s;
  opacity: 0.35;
}

.btn:hover::after {
  background: #0000;
  width: 100%;
  height: 20%;
  left: 0;
  top: 0;
  transform: translateZ(-2vmin) skew(-0deg, 0deg) translateY(0vmin) translateX(0vmin);
}

@media screen and (orientation: portrait) {
  .oops p {
      line-height: 10vmin;
      font-size: 6.5vmin;
  }
}

/* Custom CSS */

/* Button */

.animated-button {
  position: relative;
  display: flex;
  align-items: center;
  gap: 4px;
  padding: 16px 36px;
  border: 4px solid;
  border-color: transparent;
  font-size: 16px;
  background-color: inherit;
  border-radius: 100px;
  font-weight: 600;
  color: #ff4d30;
  box-shadow: 0 0 0 2px #ff4d30;
  cursor: pointer;
  overflow: hidden;
  transition: all 0.6s cubic-bezier(0.23, 1, 0.32, 1);
}

.animated-button svg {
  position: absolute;
  width: 24px;
  fill: #ff4d30;
  z-index: 9;
  transition: all 0.8s cubic-bezier(0.23, 1, 0.32, 1);
}

.animated-button .arr-1 {
  right: 16px;
}

.animated-button .arr-2 {
  left: -25%;
}

.animated-button .circle {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 20px;
  height: 20px;
  background-color: #ff4d30;
  border-radius: 50%;
  opacity: 0;
  transition: all 0.8s cubic-bezier(0.23, 1, 0.32, 1);
}

.animated-button .text {
  position: relative;
  z-index: 1;
  transform: translateX(-12px);
  transition: all 0.8s cubic-bezier(0.23, 1, 0.32, 1);
}

.animated-button:hover {
  box-shadow: 0 0 0 12px transparent;
  border-radius: 12px;
}

.animated-button:hover .arr-1 {
  right: -25%;
}

.animated-button:hover .arr-2 {
  left: 16px;
}

.animated-button:hover .text {
  transform: translateX(12px);
  color: #fff;
}

.animated-button:hover svg {
  fill: #fff;
}

.animated-button:active {
  scale: 0.95;
  box-shadow: 0 0 0 4px #ff4d30;
}

.animated-button:hover .circle {
  width: 220px;
  height: 220px;
  opacity: 1;
}

/* Link */

.cta {
  border: none;
  background: none;
  cursor: pointer;
}

.cta span {
  padding-bottom: 3px;
  letter-spacing: 2px;
  font-size: 18px;
}

.cta svg {
  transform: translateX(-8px);
  transition: all 0.3s ease;
}

.cta:hover svg {
  transform: translateX(0);
}

.cta:active svg {
  transform: scale(0.9);
}

.hover-underline-animation {
  position: relative;
  color: #ff4d30;
  padding-bottom: 20px;
}

.hover-underline-animation:after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #ff4d30;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.cta:hover .hover-underline-animation:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}